.nav-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.TeacherModal {
  margin-top: 20px;
}
.back-click {
  margin-bottom: 30px;
  cursor: pointer;
}
.teacher-table {
  width: 100%;
}
.Add-form {
  margin: 0 auto;
}
